<h1><%= @cocktail.name %> <%= link_to '<i class="fas fa-thumbs-up thumb"></i>'.html_safe, like_cocktail_path(@cocktail) %> <span class="thumb"><%= @cocktail.popularity %></h1></span>

<p><%= link_to 'back', cocktails_path %></p>
<br>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<span>
  <h3>Doses to include in <%= @cocktail.name %>
    <span>
      <%= link_to '<i class="far fa-plus-square"></i>'.html_safe, new_cocktail_dose_path(@cocktail) %>
    </span>
  </h3>
</span>
<br>
<ul>
  <% @cocktail.doses.each do |d| %>
    <li><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(d), method: :delete, data: { confirm: "Are you absolutely certain?"} %> <%= d.ingredient.name %>: <%= d.description %></li>
  <% end %>
</ul>

