<h1><%= @cocktail.name %></h1>
<p><%= link_to 'back', cocktails_path %></p>
<br>

<span>
  <h3>Doses to include in <%= @cocktail.name %>
    <span>
      <%= link_to '<i class="far fa-plus-square"></i>'.html_safe, new_cocktail_dose_path(@cocktail) %>
    </span>
  </h3>
</span>
<br>
<ul>
  <% @cocktail.doses.each do |d| %>
    <li><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(d), method: :delete, data: { confirm: "Are you absolutely certain?"} %> <%= d.ingredient.name %>: <%= d.description %></li>
  <% end %>
</ul>

